div#diagram-container {
    margin: 0;
    padding: 0;
    min-width: 50%;
    width: 100%;
    height: auto;
}

input.canvas-edit, textarea.canvas-edit {
    position: absolute;
    border: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background: none;
    outline: none;
    resize: none;
    transform-origin: left top;
}
