.context-menu-container {
    border-radius: 0.5em;
    position: absolute;
    left: 0;
    top: 0;
    width: max-content;
    height: max-content;
    background-color: white;
    padding: 4px;
    box-shadow: 1px 1px 5px black;
    min-width: 100px;
    display: flex;
    flex-direction: column;
}

.context-menu-container > * {
    font-size: 16px;
    text-align: left;
}

.context-menu-p {
    font-weight: bold;
}

.context-menu-button {
    background-color: white;
    border: none;
}

.context-menu-button:hover {
    background-color: var(--accent);
    color: white;
}

.context-menu-button:active {
    background-color: gray;
    color: white;
}
