* {
    background-color: white;
    padding: 0;
    margin: 0;
}

.d-grid {
    display: grid;
}

.grid-container {
    grid-template-columns: 25% 75%;
    height: 100vh;
}

.d-flex {
    display: flex;
    /* outline: auto; */
}

.logo {
    background-color: gray;
    padding: 35px;
    border-radius: 100%;
}

.info-container {
    padding-left: 30px;
    padding-top: 40px;
}

.info-container > .info-details, .info-details > p {
    background-color: #e2e2e2;
}

.info-details {
    flex-direction: column;
    flex: 1;
    margin-left: 10px;
    justify-content: center;
}

.info-details > .app-name {
    font-size: 24px;
    font-weight: bold;
}

.info-details > .p-small {
    font-size: small;
}

.links {
    flex-direction: column;
    font-size: 20px;
    padding: 40px 15px 15px 15px;
}

.links > #Projects, #AboutUs {
    padding: 15px;
    border-radius: 10px;
}

.highlight-red {
    background-color: red;
    color: white;
}

#AboutUs { 
    color: black;
    transition: background-color 0.3s;
    background-color: #e2e2e2;
}

#AboutUs:hover {
    background-color: lightgray;
    color: black;

}

.links > a {
    text-decoration: none;
    margin-bottom: 7px;
}

.left-container {
    background-color: #e2e2e2;
}

.left-container > div {
    background-color: #e2e2e2;
}

.search {
    padding: 40px 20px 0px 20px;
}

.search-bar {
    justify-content: center;
    font-size: 24px;
    flex: 1;
    text-decoration: none;
    padding: 5px;
    border: none;
}

.search-bar:focus {
    outline: none;
}

.fa-magnifying-glass {
    padding: 20px;
    font-size: 30px;
    cursor: pointer;

}

.btn-container {
    float: right;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.btn-container > .btn {
    padding: 10px;
    font-size: 17px;
    margin: 4px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #e2e2e2;
    /* transition: background-color 0.1s; */
}

.btn:hover, .btn:hover p {
    background-color: #e2e2e2;
}

hr{
    margin: 30px 35px 30px 35px;
    height: 4px;
    background-color: #e2e2e2;
    border: none;
}

.project-emblem {
    background-color: #e2e2e2;
    padding: 30px;
    border-radius: 10px;
}

.fa-gear {
    padding: 30px;
    transition: background-color 0.3s;
}

.info-project {
    flex-direction: column;
    flex: 1;
    margin-left: 10px;
    justify-content: center;
    transition: background-color 0.3s;
}

.info-project > .project-name {
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 200px;
    margin-right: 50px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.fa-gear:hover+.dropdown-content {
    display: block;
}

.project-container {
    transition: background-color 0.3s;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin: 0px 20px 0px 20px;
}

.p-small-hover {
    transition: background-color 0.3s;
}

.project-container:hover,
.project-container:hover .info-project,
.project-container:hover .info-project p,
.project-container:hover .fa-gear{
    background-color: #f6c8c7;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.npmodal-content {
    background-color: #fefefe;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    width: 33%;
    min-height: 250px;
}

.npmodal-content>.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header>p {
    font-size: 25px;
    margin: 0;
    text-align: center;
    flex-grow: 1;
    margin-bottom: 10px;
}

.close {
    cursor: pointer;
    margin-bottom: 10px;
}

.proj-details {
    width: 100%;
    position: relative;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fefefe;
    padding: 20px;
}

.name-section,
.folder-section {
    width: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 35px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.name,
.folder {
    font-size: 25px;
}

.name-input,
.folder-input {
    width: calc(80% - 20px);
    padding: 5px;
    font-size: 25px;
    border-radius: 10px;
    border: 1px solid #aaaaaa;
}

.folder-icon-input,
.name-icon-input {
    display: flex;
}

.folder-icon-input i,
.name-icon-input i {
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 12px;
}

.name-icon-input i {
    visibility: hidden;
}

.folder-link {
    cursor: pointer;
}

.npmodal-buttons {
    width: 100%;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.back-button,
.create-button {
    width: 45%;
    height: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    border-radius: 5px;
}

.create-button {
    background-color: red;
    color: white;
    border: none;
}

.create-button:hover {
    background-color: black;
}

.back-button:hover {
    background-color: red;
    color: white;
    border: none;
}

.c-black {
    color: black;
}

.project-container:hover {
    cursor: pointer;
}
